<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Consumer home page</title>
</head>
<body>
<h1>Gate Data</h1>
<table style="width:20%">
    <tr>
        <td>Index </td>
        <td>Gate Group</td>
        <td>Gate Number</td>
        <td>Gate Status</td>
        <td>Hold data</td>
    </tr>
    <!-- Loop through the gateData and display each gateNumber and status -->
    <tr th:each="gateInfo : ${gateData}">
        <div class="auto-increment-number">
            <td>

            </td>
        </div>
        <div class="gate-group">
            <td th:text="${gateInfo['gateGroup']}"></td>

        </div>
        <div class="gate-number">
            <td th:text="${gateInfo['gateNumber']}"></td>

        </div>
        <div class="gate-status">
            <td th:text="${gateInfo['gateStatus']}"></td>
        </div>

        <!--TODO: IMPLEMENT CHECKBOX TO PREVENT DATA FROM BEING DELETED IF CHECKBOX IS CHECKED-->
        <div class ="form-group row" >
            <label>
                <td><input type="checkbox" th:checked = "${gateInfo['gateHold']}"  ></td>
            </label>
        </div>




    </tr>
</table>
</body>
</html>