<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type = "text/css" th:href="@{/css/styles.css}">
    <title>Consumer home page</title>
</head>

<body>
<h1>Gate stream Data</h1>
<table style="width:40%" class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Gate Group</th>
            <th>Gate Number</th>
            <th>Gate Status</th>
        </tr>
    </thead>

    <!-- Loop through the gateData and display each gateNumber and status -->
    <tbody id="gateTableBody">
    <tr th:each="gateInfo : ${gateData}">
        <td th:text="${gateInfo.gateGroup}" data-order="desc"></td>
        <td th:text="${gateInfo.gateNumber}"></td>
        <td th:text="${gateInfo.gateStatus}"></td>
        <!--TODO: IMPLEMENT CHECKBOX TO PREVENT DATA FROM BEING DELETED IF CHECKBOX IS CHECKED-->
    </tr>
    </tbody>
</table>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</html>